@import "tailwindcss";

/* =====================
   THEME COLORS
===================== */
:root {
  --primary: 55 65 81; /* Dark Slate */
  --secondary: 217 119 6; /* Orange */
  --background: 248 245 238; /* Cream */
  --text: 107 114 128; /* Gray text */
  --border: 229 231 235;
  --third: 62 81 106;
}
html {
  scroll-behavior: smooth;
}

/* =====================
   BASE STYLES
===================== */
@layer base {
  body {
    font-family: "Jost", sans-serif;

    color: rgb(var(--primary));
  }
}

@layer utilities {
  .bg-primary {
    background-color: rgb(var(--primary));
  }

  .cream-bg {
    background-color: rgb(var(--background));
  }
 
  .text-primary {
    color: rgb(var(--primary));
  }

  .hover-primary:hover {
    color: rgb(var(--primary));
  }
  .hover-secondary:hover {
    color: rgb(var(--secondary));
  }


  .bg-secondary {
    background-color: rgb(var(--secondary));
  }

  .text-secondary {
    color: rgb(var(--secondary));
  }

  .border-theme {
    border-color: rgb(var(--border));
  }
  .third-color {
    color: rgb(var(--third));
  }
  .third-bg{
  background-color:rgb(var(--third));
  }
 
}




.swiper-slide-active,
.swiper-slide-next,
.swiper-slide-prev {
 
  color: transparent
}
/* Shared arrow styles */
.swiper-button-next,
.swiper-button-prev {
  width: 48px;
  height: 48px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  border-radius: 9999px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  transition: all 0.3s ease;
}

/* Hover */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
}

/* Arrow icons */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px;
  font-weight: 700;
  color: #fff000;
}

/* Positioning */
.swiper-button-prev {
  left: 24px;
}

.swiper-button-next {
  right: 24px;
}